.navbar {
    background-color: black;
    padding: 10px 0;
  }
  
  .logo {
    color: white;
    font-size: 24px;
    margin-left: 25px;
    font-weight: bold;
    text-decoration: none;
  }
  

  .navbar ul {
    list-style: none;
    padding: 2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  

  .navbar li {
    font-size: 16px; 
    padding:6px;
  }
  
  
  .navbar li a {
    text-decoration: none;
    color: white;
    transition: all 0.1s ease; 
    font-weight: normal; 
  }
  
  
  .navbar li a:hover {
    font-weight: bold;
    font-size: 18px;
  }
  