/* Home.css */

/* Enable scrolling for the entire page
body {
  overflow: auto;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
} */




.landing-page {
  overflow-y: auto;
  overflow-x: auto;

  
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:flex-start; 
  background-color: black;
 
}

.landing-page::-webkit-scrollbar {
  display: none;
}



.movie-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.genre-prompt {
  background-image: url("../Images/m_mart.jpg");
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .overlay {
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent overlay */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: white;
    width: 100%; 
  }
  
  
  h1 {
    font-size: 24px;
  }

  .header {
    text-align: center;
  }

  
.title {
    font-size: 96px; /* Adjust the font size as needed */
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 38px; /* Adjust the font size as needed */
  }

  h2 {
    font-size: 35px; /* Adjust the font size as needed */
    margin-top: 20px;
  }
  
  form {
    margin-top: 10px;
  }
  
  input {
    padding: 12px; /* Increase padding for spacing inside the input box */
    width: 500px; /* Increase width to your preferred size */
    border: none;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #2e0c0c; /* Change to your preferred button color */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-left: 10px;
  }
  
  button:hover {
    background-color: #2e0c0c; /* Change to the hover color you prefer */
  }
  
  form {
    margin-top: 20px;
  }
  
  .black-background{
    color: white;
  }


  .button-container {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to the next line */
    background-color: black;
  }
  
  .genre-button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    padding: 20px;
    transition: background-color 0.3s;
  }
  
  .genre-button:hover {
    background-color: #800000; /* Crimson or your desired color */
  }
  